# Q1.

In [77]:
import numpy as np
import pandas as pd

In [78]:
#Q1. Pandas version

pd.__version__

'1.5.3'

In [79]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'

In [80]:
df = pd.read_csv(data)

# Q2.  How many records are in the dataset?

In [81]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

# Q3. How many laptop brands are presented in the dataset?

In [82]:
df['Laptop']

0       ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...
1       Alurin Go Start Intel Celeron N4020/8GB/256GB ...
2       ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...
3       MSI Katana GF66 12UC-082XES Intel Core i7-1270...
4       HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...
                              ...
2155    Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...
2156    Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...
2157    Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...
2158    Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...
2159    Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...
Name: Laptop, Length: 2160, dtype: object

In [83]:
df.index

RangeIndex(start=0, stop=2160, step=1)

# Q4. How many columns in the dataset have missing values?

In [84]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [85]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

# Q5. What's the maximum final price of Dell notebooks in the dataset?

In [86]:
df_Dell ['Final Price'].max()

3936.0

# Q6 Find the median value of Screen column in the dataset.

In [87]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [88]:
df.Screen.median()

15.6

# 6.2  Next, calculate the most frequent value of the same Screen column.

In [89]:
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

# 6.3 Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [90]:
df.Screen.replace(' ', '15.6')

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

 # 6.4. calculate the median value of Screen once again.

In [91]:
df.Screen.median()

15.6

# 6.5 refer to existing mode and median functions to complete the task. (NO)

# 7.1. Select all the "Innjoo" laptops from the dataset.

In [92]:
df_Innjoo=df[df['Brand']=='Innjoo']

In [93]:
df_Innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

# 7.2. Select only columns RAM, Storage, Screen.

In [94]:
df_Innjoo[['RAM','Storage','Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

# 7.3. Get the underlying NumPy array. Let's call

In [95]:
X= df_Innjoo[['RAM','Storage','Screen']]
X

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [96]:
X.values

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

# 7.4 Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [97]:
X.values.shape

(6, 3)

In [98]:
X = X.values

In [99]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

#  calculate the transpose of x

In [100]:

X_T = X.T
XTX = np.matmul(X_T,X)

print (XTX)

[[2.52000e+02 8.32000e+03 5.59800e+02]
 [8.32000e+03 3.68640e+05 1.73952e+04]
 [5.59800e+02 1.73952e+04 1.28196e+03]]

# 7.5 Compute the inverse of XTX.

In [101]:
XTX_inv = np.linalg.inv(XTX)

print(XTX_inv)

[[ 2.78025381e-01 -1.51791334e-03 -1.00809855e-01]
 [-1.51791334e-03  1.58286725e-05  4.48052175e-04]
 [-1.00809855e-01  4.48052175e-04  3.87214888e-02]]

# 7.6 Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

In [102]:
y = [1100, 1300, 800, 900, 1000, 1100]

# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [103]:
w = np.linalg.solve(xTx, np.matmul(x.T,y))

In [104]:
w

array([45.58076606,  0.42783519, 45.29127938])

# 8. What's the sum of all the elements of the result?

In [105]:
w.sum()

91.29988062995699